body {
	font-family: fantasy, "Times New Roman";
	background: linen;
	text-align: center;
}

body.yellow{
	background: yellow;
}

body.red{
	background: red;
}

#timeText {
	font-size: 240px;
}

.button {
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 5pt;
	max-width: 240px;
	border-radius: 5px;
	box-shadow: 0 4px 0 orange;
	color: #000;
	background: peachpuff;
	cursor: pointer;
}

.button:hover {
	color: gray;
}

.button:active {
	opacity: 0.5;
}

.button.inactive {
	opacity: 0.5;
}
